@model TwitterClone.Models.TweetViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul {
        list-style: none;
    }
</style>
<div class="row" style="padding-top:20px; width:100%;">
    <div class="col-md-4">
        Search People you may know
        <input id="searchbox" type="text" name="query" placeholder="search" class="form-control" style="width:250%" />

        <button id="btnsearch" class="btn btn-default" formaction="Follow" formmethod="post" style="margin-top:5px;">Follow</button>
        <div style="width:100%;">
            <ul>
                <li>
                    <span id="myTweets">MyTweets (<a href="#" id="mytweetlink">@Model.MyTweetsCount</a>)</span>
                </li>
                <li>
                    <span id="follow">Follow (<a href="#" id="followerlink">@Model.FollowersCount</a>)</span>
                </li>
                <li>
                    <span id="following">Following (<a href="#" id="followinglink">@Model.FollowingCount</a>)</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8">
        @{Html.RenderPartial("~/Views/Shared/_TwitterPartial.cshtml"); }
        <br />
        <br />
        <div id="tweetDiv">
            @if (Model.IsTweetPage == true)
            {
            <table>
                <thead>
                    <tr><th>List of Tweets</th></tr>
                    <tr>
                        <th style="width:20%;">User Name</th>
                        <th style="width:60%;">Message</th>
                        <th style="width:20%;">Created Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tweets)
                        {
                    <tr>
                        <td style="width:20%;">
                            @item.UserId
                        </td>
                        <td style="width:60%;">
                            @item.Message
                        </td>
                        <td style="width:20%;">
                            @item.CreatedDate
                        </td>

                    </tr>
                        }
                </tbody>
            </table>
            }
        </div>
        <div id="userListDiv" style="display:none">
            <h4 id="userListHeader"></h4>
            <table id="userListTable">
                <thead>
                    <tr>
                        <th style="width:20%;">User Name</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="myTweetsDiv" style="display:none">
            <h4>My Tweets</h4>
            <table id="myTweetTable">
                <thead>

                    <tr>

                        <th style="width:60%;">Message</th>
                        <th style="width:20%;">Created Date</th>
                    </tr>

                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#searchbox").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Twitter/SearchUsersByName",
                    type: "POST",
                    dataType: "json",
                    data: { name: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });

        $("#btnsearch").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Twitter/Follow",
                data: {
                    followerId: $("#searchbox").val(),

                },
                success: function (result) {
                    console.log(result);
                    alert('Now you following ' + result);
                },
                error: function (result) {
                    alert('error');
                }
            });
        });

        $('#followinglink,#followerlink').on('click', function (e) {
            debugger;
            var type = $(this).closest('span').attr('id');

            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "/Twitter/GetUsers?type=" + type,
                success: function (data) {
                    $("#userListDiv").show();
                    $("#tweetDiv").hide();
                    $("#mytweetDiv").hide();
                    $("#userListTable").find('tbody').html('');


                    var trHTML = '';

                    $.each(data, function (index, item) {
                        if (type == "follow") {
                            trHTML += '<tr><td>' + item.UserId + '</td></tr>';
                        }
                        else {
                            trHTML += '<tr><td>' + item.FollowingId + '</td></tr>';
                        }
                    });
                    $("#userListTable").append(trHTML);

                },
                error: function (e) {

                }
            });

        });

        $('#mytweetlink').on('click', function (e) {



            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "/Twitter/GetMyTweeets",
                success: function (data) {
                    $("#userListDiv").hide();
                    $("#tweetDiv").hide();
                    $("#myTweetsDiv").show();
                    $("#myTweetTable").find('tbody').html('');

                    var trHTML = '';

                    $.each(data, function (index, item) {

                        trHTML += '<tr><td>' + item.Message + '</td><td>' + item.CreatedDate + '</td></tr>';
                    });

                    $("#myTweetTable").append(trHTML);


                    $("#myTweetTable").append(trHTML);

                },
                error: function (e) {

                }
            });

        });
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}